    <!DOCTYPE html>

    <html>
     <link rel="stylesheet" type="text/css" href="style.css">
     <header> 
     
    <nav class="nav01">
        <a href="index.erb">Home</a>
        <a href="search.erb"class="is-current">Create you own gallerie!</a>
        <span class="current-bar"></span>
    </nav>
     
     </header>

        <body>
 
        </body>
        
    </html>
